body {
    margin: 0;
    color: #315a0f;
    background-color: #f5f1d2;
}

.top {
    z-index: 1030;
    position: sticky;
    top: 0;
}

.first-part {
    width: 100%;
    height: 2em;
    background-color: #6a9e2f;
}

.second-part {
    width: 100%;
    height: 0.5em;
    background-color: #315a0f;

}

.image_and_title {
    width: 100%;
    height: 45em;
    background-color: #e9f0ad;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5f1d2;
}

li {
    float: left;
}

li a {
    display: block;
    color: #315a0f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    background-color: #8bce3e;
}

.navigation {
    width: 100%;
    background-color: #6a9e2f;
    position: sticky;
    top: 2.5em;
    border: none;
}

.buttons_nav_bar {
    width: 83%;
    margin: 0 auto;
}

.content {
    top: 3%;
    width: 70%;
    background-color: #c1e499;
    margin: 0 auto;
    padding: 1em;
    text-align: justify;
}

  
.content div {
    display: inline-block;
  }

h1 {
    text-align: center;
    color: rgb(92, 212, 92);
    text-shadow: 4px 3px 1px rgb(71, 14, 29);
    font-weight: bold;
    font-size: 600%;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}

.content_img { /*added*/
    float: right; 
    width: 33%; 
    height: 13em;
    margin-left: 1em; 
    box-shadow: 0 0 1em rgb(85, 219, 85);
    border-radius: 1em;
}

p.section {
    margin-bottom: 6%;
}

.content img {
    display: block;
    float: right;
    width: 33%;
    height: 15em;
    margin-left: 1em;
    box-shadow: 0 0 1em #55db55;
    border-radius: 1em;
}

.content p {
    margin-bottom: 3%;
    margin-top: 3%;
}

.even img {
    float: left;
    margin-left: 0;
    margin-right: 1em;
}